*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
MyApplication/.idea/libraries/android_arch_core_common_1_0_0_jar.xml
MyApplication/.idea/libraries/android_arch_lifecycle_common_1_0_0_jar.xml
MyApplication/.idea/libraries/com_android_support_animated_vector_drawable_26_1_0.xml
MyApplication/.idea/libraries/android_arch_lifecycle_runtime_1_0_0.xml
MyApplication/.idea/libraries/com_android_support_support_annotations_26_1_0_jar.xml
MyApplication/.idea/libraries/com_android_support_appcompat_v7_26_1_0.xml
MyApplication/.idea/libraries/com_android_support_support_core_ui_26_1_0.xml
MyApplication/.idea/workspace.xml
MyApplication/.idea/misc.xml
MyApplication/.idea/libraries/com_android_support_support_vector_drawable_26_1_0.xml
MyApplication/.idea/libraries/com_android_support_support_v4_26_1_0.xml
MyApplication/.idea/libraries/com_android_support_support_media_compat_26_1_0.xml
MyApplication/.idea/libraries/com_android_support_support_fragment_26_1_0.xml
MyApplication/.idea/libraries/com_android_support_support_core_utils_26_1_0.xml
MyApplication/.idea/libraries/com_android_support_support_compat_26_1_0.xml
